{% layout "layout.liquid" %} {% block content %}
<div>
  <form action="/playlist/{{song._id}}?_method=PUT" method="post">
    <fieldset>
      <legend>Edit {{song.name}}</legend>
      <label>
        NAME:<input
          type="text"
          name="name"
          placeholder="enter song name"
          value="{{song.name}}"
        />
      </label>
      <label>
        URL:<input
          type="text"
          name="URL"
          placeholder="enter URL"
          value="{{song.URL}}"
        />
      </label>
      <label>
        ARTIST:<input
          type="text"
          name="artist"
          placeholder="enter artist name"
          value="{{song.artist}}"
        />
      </label>
      <label>
        DESC:<input
          type="text"
          name="desc"
          placeholder="enter description of song"
          value="{{song.desc}}"
        />
      </label>
      <label>
        IMAGE:<input
          type="text"
          name="img"
          placeholder="enter image URL for song"
          value="{{song.img}}"
        />
      </label>
    </fieldset>
    <button id="update" class="waves-effect waves-light btn" type="submit">Update {{song.name}}</button
  </form>
</div>
{% endblock %}



