{% layout "layout.liquid" %} {% block content %}
      <div>
        <article>
          <h2>
            {{ song.name }}
          </h2>
          <h3>  {{ song.name }} </h3>
          <h3>Desc. {{ song.desc }}</h3>
          <img src={{song.img}}>
          <a href="/playlist/{{ song._id }}/edit"><button class="waves-effect waves-light btn">Edit</button></a>
          <form action="/playlist/{{ song._id }}?_method=DELETE" method="POST">
            <button class="waves-effect waves-light btn" type="submit" value="Delete"> Delete </button>
          </form>
          <a href="/playlist/"> <button class="waves-effect waves-light btn">Back to Main</button></a>
        </article>
      </div>
{% endblock %}