{% layout "layout.liquid" %} {% block content %}
      <div class="row">
          <div class="grid-example col s12 m12">
            <article class="songContainer">
              <div class="showHeader">
          <h2>
            {{ song.name }}
          </h2>
          <h3>{{song.artist}} </h3>
          <h3 class="desc"> {{ song.desc }}</h3>
          </div>
          <img class="showImg" src={{song.img}}>
          <br>
        <!-- {{song.URL}} -->
        <iframe width="560" height="315" src="{{song.URL}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="showActions">
          <a href="/playlist/"> <button class="waves-effect waves-light btn">Back to Main</button></a>
          
          <form action="/playlist/{{ song._id }}?_method=DELETE" method="POST">
            <button class="waves-effect waves-light btn" type="submit" value="Delete"> Delete </button>
          </form>
          
          <a href="/playlist/{{ song._id }}/edit">
            <button class="waves-effect waves-light btn">Edit</button></a>
          </article>
          </div>
      </div>
{% endblock %}
